proj2/.devcontainer
proj2/.vscode
proj2/core
proj2/tmp
proj2/vendor
proj2/.gitignore
proj2/composer.json
proj2/composer.lock
proj2/composer.phar
proj2/interpreter.php
proj2/is_it_ok.sh
proj2/Makefile
proj2/phpstan.neon
proj2/README.md